{% extends 'base.html' %}

{% block content %}
<br><br><br>
<div class="container">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Event</th>
                <th scope="col">Date and time</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr class="table-warning">
                <th scope="row">{{ event.index }}</th>
                <td>{{ event.title }}</td>
                <td>{{ event.start_date }} - {{ event.end_date }}</td>
                <td>
                    <form>
                        <button formaction="{% url 'events-details' event_id=event.pk %}" type="submit" class="btn btn-success">Learn more</button>
                    </form>
                </td>
                <td>
                    {% if event.available %}
                    <form>
                        <button formaction="{% url 'register' pk=event.pk %}" type="submit" class="btn btn-danger">Register</button>
                    </form>
                    {% else %}
                    Coming soon...
                    {% endif %}
                </td>
                {% if user.is_authenticated %}
                <td>
                    <form>
                        <button formaction="{% url 'update-event' event_pk=event.pk %}" type="submit" class="btn btn-primary">Update</button>
                    </form>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}