{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br><br>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous">
    <div class="container">
        {% if event.event_img %}
            <img src="{{ event.event_img.url }}">
            <br><br>
        {% endif %}
        <h3>{{ event.title }}</h3>
        <br><br>
        <h5>What's it about:</h5>
        {{ event.description }}
        <br><br>
        <h5>Date and time:</h5>
        {{ event.start_date }} - {{ event.end_date }}
        <br><br>
        <h5>Places left:</h5>
        {{ places_left }} out of {{ event.limit }}
        <br><br>
        {% if event.available and event.count_places_left > 0 %}
            <form>
                <button formaction="{% url 'register' pk=event.pk %}" type="submit" class="btn btn-danger">Register</button>
            </form>
        {% elif event.available %}
            Event is full.
        {% else %}
            Registration starts on {{ event.registration_start }}
        {% endif %}
        {% if user.is_authenticated and event.user == user %}
            <br><br>
            <form>
                <button formaction="{% url 'update-event' event_pk=event.pk %}" type="submit" class="btn btn-primary">Update</button>
            </form>
        {% endif %}
    </div>
{% endblock %}